USE [master]
GO
/****** Object:  Database [testowa_db]    Script Date: 03.11.2020 14:57:34 ******/
CREATE DATABASE [testowa_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'testowa_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\testowa_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'testowa_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\testowa_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [testowa_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [testowa_db]
GO
/****** Object:  User [myID]    Script Date: 03.11.2020 14:57:34 ******/
CREATE USER [myID] FOR LOGIN [myID] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[fields]    Script Date: 03.11.2020 14:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fields](
	[name] [nvarchar](max) NULL,
	[area] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
